<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>答题系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{$Think.config.web_res_root}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$Think.config.web_res_root}/css/jquery-ui.min.css">
</head>
<body>
    <form id="login_form" method="post">
        <h3>用户登录</h3>
        <div>
            <label>用户名</label>
            <input type="text" id="username" name="username"/>
        </div>
        <div>
            <label>密码</label>
            <input type="password" id="password" name="password"/>
        </div>
        <div>
            <input id="login_btn" type="submit" name="submit" value="登陆"/>
        </div>
    </form>
</body>
<!-- jQuery -->
<script src="{$Think.config.web_res_root}/js/jquery.min.js"></script>
<script src="{$Think.config.web_res_root}/js/jquery-ui.min.js"></script>
<script src="{$Think.config.web_res_root}/js/bootstrap.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    $("#login_btn").click(function(){
        var username = $("#username").val();
        var password = $("#password").val();
        if(username == ''){
            alert("用户名不能为空");
        }else if(password == ''){
            alert("密码不能为空");
        }else{
            var post_data = {username:username,password:password};
            $.ajax({
                url:"{:url('login/check')}",
                dataType: "json",
                type: 'POST',
                data: post_data,
                async: false,
                success: function(data){
                    alert("跳转成功");
                    json_data=eval('('+data+')');
                    if(json_data['result']=="管理员"){
                        window.location.href="{:url('user_manage/index')}";
                    }else if(json_data['result']=="普通用户"){
                        window.location.href="{:url('user_answer/user_index/index')}";
                    }else if(json_data['result']=="已登陆"){
                        window.location.href="{:url('user_answer/user_index/index')}";
                    }else{
                        alert(json_data['result']);
                        //登录失败操作......
                    }
                },
                error: function(data, status, error){
                    alert("跳转失败");
                    alert(error);

                }
            });
        }
        return false;
    });
});

</script>

</html>
