<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Document</title>
</head>
<body>
<center>
<form action="insert" method="post">
<table>
<tr>
<td>道具名</td>
<td><input type="text" name="item_name"></td>
</tr>
<tr>
<td>道具描述</td>
<td><input type="text" name="item_description"></td>
</tr>
<tr>
<td>兑换积分</td>
<td><input type="text" name="change_rule"></td>
</tr>
<tr>
<td>数量</td>
<td><input type="text" name="amount"></td>
</tr>
<tr>
<td>每组可对换数量</td>
<td><input type="text" name="team_amount"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" value="提交"></td>
</tr>
</table>
</form>
</center>
</body>
</html>