<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>道具管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{$Think.config.web_res_root}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$Think.config.web_res_root}/css/jquery-ui.min.css">
</head>
<body>
    <form id="login_form" method="post">
        <div>
            <a href="http://localhost/QandA/public/index.php/item_manage/item/addindex"><input id = "add_btn" type="button" name="submit1" value="增加道具"></input></a>
        </div>
        <div>
            <a href="http://localhost/QandA/public/index.php/item_manage/item/showAlldata"><input id = "change_btn" type="button" name="submit3" value="修改道具"></input></a>
        </div>
    </form>
</body>
<!-- jQuery -->
<script src="{$Think.config.web_res_root}/js/jquery.min.js"></script>
<script src="{$Think.config.web_res_root}/js/jquery-ui.min.js"></script>
<script src="{$Think.config.web_res_root}/js/bootstrap.min.js"></script>


</html>
