<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Document</title>
</head>
<body>
<center>
<table border=1>
<th>道具ID</th>
<th>参照事件ID</th>
<th>道具名</th>
<th>道具描述</th>
<th>兑换积分</th>
<th>道具数量</th>
<th>可兑换数量</th>
<th>操作</th>
{volist name="arr" id="vo"}
<tr>
<td>{$vo.item_id}</td>
<td>{$vo.refer_event_id}</td>
<td>{$vo.item_name}</td>
<td>{$vo.item_description}</td>
<td>{$vo.change_rule}</td>
<td>{$vo.amount}</td>
<td>{$vo.team_amount}</td>
<td><a href="update?id={$vo.item_id}">修改</a><a href="delete?id={$vo.item_id}">删除</a></td>
</tr>
{/volist}
</table>
</center>
</body>
</html>