<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="renderer" content="webkit" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="description" content="Plane UI" />
        <meta name="keywords" content="Plane UI" />
		<meta name="author" content="Pandao, pandao@vip.qq.com"/>
		<meta name="robots" content="index,follow" />

		<!-- 禁止百度转码 -->
        <meta http-equiv="Cache-Control" content="no-siteapp"/>

		<!-- 添加到主屏后的标题 iOS6+ -->
		<meta name="apple-mobile-web-app-title" content="Plane UI" />

		<!-- 是否启用 WebApp 全屏模式 -->
		<meta name="apple-mobile-web-app-capable" content="yes" />

		<!-- 设置状态栏的背景颜色，只有在 `"apple-mobile-web-app-capable" content="yes"` 时生效 -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<!-- for iOS icons -->
		<link rel="apple-touch-icon-precomposed" href="app/icons/icon-57x57.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="app/icons/icon-72x72.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="app/icons/icon-114x114.png" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="app/icons/icon-120x120.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="app/icons/icon-144x144.png" />
		<link rel="apple-touch-icon-precomposed" sizes="180x180" href="app/icons/icon-180x180.png">

		<!-- for Android 5 -->
		<meta name="theme-color" content="#0098DF" />

		<!-- Windows 8 metro color -->
		<meta name="msapplication-TileColor" content="#0098DF" />

		<!-- Windows 8 metro icon -->
		<meta name="msapplication-TileImage" content="favicon.png" />

		<!-- closed google auto translate -->
		<meta name="google" value="notranslate" />

		<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
		<meta name="HandheldFriendly" content="true" />

		<!-- 微软的老式浏览器 -->
		<meta name="MobileOptimized" content="320" />

		<!-- uc 强制竖屏 -->
		<meta name="screen-orientation" content="portrait" />

		<!-- QQ 强制竖屏 -->
		<meta name="x5-orientation" content="portrait" />

		<!-- UC 强制全屏 -->
		<meta name="full-screen" content="yes" />

		<!-- QQ 强制全屏 -->
		<meta name="x5-fullscreen" content="true" />

		<!-- UC 应用模式 -->
		<meta name="browsermode" content="application" />

		<!-- QQ 应用模式 -->
		<meta name="x5-page-mode" content="app" />

		<!-- windows phone 点击无高光 -->
		<meta name="msapplication-tap-highlight" content="no" />

		<title>事件管理主页</title>

        <link rel="stylesheet" type="text/css" href="{$Think.config.web_res_root}/event/dist/css/planeui.min.css" />
	</head>
	<body>
		<!-- 代码写在这下面 -->
        <div class="pui-grid"><!-- 响应式布局 -->
        	<div class="pui-row" style="margin-bottom: 0">
        		<div class="pui-grid-xs-12">
        			<img src="{$Think.config.web_res_root}/event/img/header.jpg" style="width: 100%;height: auto;" />
        		</div>
        	</div>
        	<div class="pui-row" style="margin: 0;">
						<div class="pui-grid-md-2">
							<div class="pui-btn-group-vertical pui-btn-gradient pui-btn-shadow ">
									<div class="pui-btn-group ">
											<a href="{:url('index/usermanage/user_manage')}" ><button class="pui-btn-style  pui-btn pui-btn-primary pui-btn-large pui-text-shadow pui-btn-primary-active"><i class="fa fa-user fa-large"></i> 用户管理</button></a>
											<a href="{:url('manage/Problemmanage/problem_manage')}" ><button class="pui-btn-style  pui-btn pui-btn-primary pui-btn-large pui-text-shadow "><i class="fa fa-list-alt fa-large"></i> 题目管理</button></a>
											<a href="{:url('event/index/showevent')}"><button class="pui-btn-style  pui-btn pui-btn-primary pui-btn-large pui-text-shadow "><i class="fa fa-file-o fa-large"></i> 事件管理</button></a>
											<a href="{:url('item_manage/item/index')}" ><button class="pui-btn-style  pui-btn pui-btn-primary pui-btn-large pui-text-shadow "><i class="fa fa-th fa-large"></i> 道具管理</button></a>
								</div>
							</div>
						</div>
        		<div class="pui-grid-xs-8">
        			<div class="pui-btn-group pui-btn-group-justify" style="width:100% ;">
                    	<button type="button" class="pui-btn pui-btn-default pui-btn-large">
                        	正在进行
                    	</button>
                    	<button type="button" class="pui-btn pui-btn-default pui-btn-large">
                        	已经过期
                    	</button>
                	</div>

                		<!-- <div class="pui-card-box">
                    	<h1>《八月照相馆》<small>韩国爱情电影</small></h1>
                    	<p class="pui-text-indent">《八月照相馆》是由许秦豪执导，韩石圭、沈银河主演的爱情电影。影片讲述了一个发生在已经收到死亡宣告的男子温暖而美丽的故事。该片于1998年1月24日在韩国上映。影片获第34届韩国百想艺术大赏和第19届韩国青龙电影奖最佳电影奖。</p>
                   	 	<p class="pui-text-indent">《八月照相馆》的故事灵感来源于韩国已故歌手金光硕一张表情安详温暖的遗照，而该片的大多数主创人员都是出生在八月，所以片名叫做片名《八月照相馆》。</p>
                    	<p class="pui-text-right"><br><a href="#" class="pui-btn pui-btn-default pui-unbordered">详细 &gt;&gt;</a></p>
        			</div> -->

												{eq name="data" value=""}
												<div class="pui-card pui-card-shadow pui-card-radius">
												<div class="pui-card-box">
														<h1>当前无事件<small></small></h1>
												</div>
												</div>
												{else/}
												{foreach $data as $k=>$v}
												<div class="pui-card pui-card-shadow pui-card-radius">
												<div class="pui-card-box">
														<h1>{$v.event_title}<small>{$v.event_type}</small></h1>
														<p class="pui-text-indent">{$v.event_description}</p>
														<p class="pui-text-right"><br><a href="{:url('event/Question/problem_insert',array('event_id'=>$v.event_id))}" class="pui-btn pui-btn-default pui-unbordered">配置 &gt;&gt;</a></p>
												</div>
												</div>
												{/foreach}
												{/eq}




											<a href="{$Think.config.web_res_root}index.php/event/index/insertevent">
                			<input type="button" class="pui-btn pui-btn-primary pui-btn-large" value="发起新事件">
										</a>
           			 </div>
           		</div>
        	</div>
        </div>
        <!-- 代码写在这上面 -->
				<!-- 代码写在这上面 -->
				<script type="text/javascript" src="{$Think.config.web_res_root}/event/js/jquery.min.js"></script>
				<script type="text/javascript" src="{$Think.config.web_res_root}/event/dist/js/planeui.js"></script>
	</body>
</html>
